<div id="<%= dom_id episode %>">
  <p>
    <strong>Name:</strong>
    <%= episode.name %>
  </p>

  <p>
    <strong>File uri:</strong>
    <%= episode.file_uri %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= episode.desc %>
  </p>

</div>
